In [1]:
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy import create_engine

In [2]:
engine = create_engine("mysql://root:password@localhost/taskrabbit_db")

In [3]:
data = pd.read_csv("sample.csv")

In [8]:
data.head()

,recommendation_id,created_at,tasker_id,position,hourly_rate,num_completed_tasks,hired,category
0,0-0-70cf97d7-37af-4834-901c-ce3ad4893b8c,2017-09-01 00:32:25,1009185352,1,38,151,0,Furniture Assembly
1,0-0-70cf97d7-37af-4834-901c-ce3ad4893b8c,2017-09-01 00:32:25,1006892359,2,40,193,0,Furniture Assembly
2,0-0-70cf97d7-37af-4834-901c-ce3ad4893b8c,2017-09-01 00:32:25,1012023956,3,28,0,0,Furniture Assembly
3,0-0-70cf97d7-37af-4834-901c-ce3ad4893b8c,2017-09-01 00:32:25,1009733517,4,43,303,0,Furniture Assembly
4,0-0-70cf97d7-37af-4834-901c-ce3ad4893b8c,2017-09-01 00:32:25,1013579273,5,29,39,0,Furniture Assembly

In [23]:
# Question 1: How many recommendation sets are in this data sample?

# len(data["recommendation_id"].value_counts())

# Question 2: Each recommendation set shows from 1 to 15 Taskers, what is:
#      - average number of Taskers shown
#      - median  number of Taskers shown

# len(data["recommendation_id"].value_counts())
data["recommendation_id"].value_counts().describe()

count    2100.000000
mean       14.285714
std         2.553531
min         1.000000
25%        15.000000
50%        15.000000
75%        15.000000
max        15.000000
Name: recommendation_id, dtype: float64

In [49]:
# Question 3: How many total unique Taskers are there in this data sample?

len(data["tasker_id"].value_counts())

830

In [61]:
# Question 4: Which tasker has been shown the most? Which tasker has been shown the least?

query = '''
select tasker_id, count(tasker_id) as 'times_shown'
from taskrabbit
group by tasker_id
order by count(tasker_id) desc
'''


taskers = pd.read_sql_query(query, engine)


# Tasker shown the most:
print(taskers.iloc[0])

# Taskers shown the least:
taskers_min = taskers[(taskers["times_shown"] < 2)]
taskers_min.head()

tasker_id      1014508755
times_shown           608
Name: 0, dtype: int64

      tasker_id  times_shown
762  1013362004            1
763  1010779242            1
764  1012364558            1
765  1010640007            1
766  1014547884            1

In [105]:
# Question 5: Which tasker has been hired the most? Which tasker has been hired the least?

hired = data[["tasker_id", "num_completed_tasks"]].sort_values(by="num_completed_tasks", ascending=False)

# Tasker hired the most:
print(hired.iloc[0])

# Taskers hired the least:
hired_least = hired[(hired["num_completed_tasks"] == 0)]
list(hired_least["tasker_id"])

tasker_id              1008782548
num_completed_tasks          1406
Name: 19640, dtype: int64

AttributeError: 'list' object has no attribute 'head'

In [91]:
# Question 6: How many taskers have a conversion rate of 100%? Conversion rate is times hired over times shown.

query = '''
SELECT tasker_id, num_completed_tasks as 'num_tasks', 
count(recommendation_id) as 'times_shown', 
count(recommendation_id)/num_completed_tasks as 'conversion_rate'
FROM taskrabbit
WHERE hired = 1
GROUP BY tasker_id
HAVING count(recommendation_id)/num_completed_tasks = 1
'''
conversion = pd.read_sql_query(query, engine)

print(conversion["tasker_id"])

0    1012062653
1    1012034772
2    1013852438
3    1012121456
4    1013865107
Name: tasker_id, dtype: int64

In [ ]:
# Question 7: Would it be possible for all taskers to have a conversion rate of 100%?

No it would not. When one tasker is chosen over another in a recommendation, those who were not selected will have their conversion rate permanently lowered. Taskers' conversion rates can approach 100% after not being selected, but they will never reach 100%.

In [96]:
# Question 8: For each category, what is the average position of the Tasker who is hired?

query = '''
SELECT position
FROM taskrabbit
WHERE hired = 1
'''
position = pd.read_sql_query(query, engine)

print(position["position"].mean())

4.1149560117302055

In [106]:
# Question 9: For each category, what is the average hourly rate and average number of completed tasks for the Taskers who are hired?

query = '''
SELECT category, 
avg(hourly_rate) as "avg_rate", 
avg(num_completed_tasks) as "avg_tasks"
FROM taskrabbit
WHERE hired = 1
GROUP BY category
'''

category = pd.read_sql_query(query, engine)
category

             category  avg_rate  avg_tasks
0  Furniture Assembly   38.7010   249.0210
1            Mounting   50.1548   284.0961
2         Moving Help   63.0123   273.8827